

.project_container{
    margin-top: 150px !important;
    width: 70% !important;
    height: 50% !important;
    /* margin-bottom: 150px !important; */
    
}

  /* new cards */
 
.project_card{ 
     /* align-items: center;
    justify-content: center;   */
    /* margin: 300px 10px 20px 10px !important;  */
    /* width: 100px !important; 
    height: 50% !important;  */
    /* margin-bottom: 150px !important; */
  }
  .project_card{
margin-bottom: 20px;
background-color: #025fc8 !important;
  }

.btn_moredetails{
background-color: rgb(255, 255, 255) !important;
color: #025fc8 !important;
transform: translateY(-0.25em) !important; 
justify-content: center;
}
.btn_moredetails:hover{
background-color: gray !important;
color: #ffffff !important;
/* box-shadow: 
0.3em 0.3em 0 0 var(--color),
inset 0.3em 0.3em 0 0 var(--color); */
box-shadow: 0 0.5em 0.5em -0.4em  black !important;

}
